# Environment variables
.env
.env.local
.env.*.local

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/

# OS
.DS_Store
Thumbs.db

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
**/settings.xml
.mvn/settings.xml

# Spring Boot
*.log
*.pid

# Local configuration files
**/application-local.yml
**/application-local.yaml
